* {
   margin: 0;
   background: #ccc;
}

html, body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.circle {
   height: 100px;
   width: 100px;
   border: 2px solid black;
   border-radius: 100%;
   margin: 10px;
}

.orange {
   background-color: orange;
}

.blue {
   background-color: cadetblue;
}